#title{
}



h1{
  font-family: "Montserrat";
}

h2{
  font-family: "Montserrat";
}

h3{
  font-family: "Montserrat";
  font-size: 1.15rem;
}

p{
  color: #8f8f8f
}

/* Sections */
.coloured-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
  background-color: #fff;
}
/* heading */
@media (max-width: 1028px){
  .dog-selfie{
    position: static;
    transform: rotate(0);
  }

  .topper{
    text-align: center;
  }
}

.attention-grabber{
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 80px;
  padding-right: 15px;
  color: white;
}
.navbar{
  margin: 30px auto;
}

.topper{
  padding: 3% 15% 7%;
}


.download{
  margin: 5% 3% 5% 0;
}

.navbar-brand{
  font-size: 40px;
  font-weight: bold;
  font-family: "Ubuntu";
  position: absolute;
  left: 0;
}

.nav-link{
  font-size: 15px;
  font-family: "Ubuntu";
  margin: auto 20px;
}

.dog-selfie{
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  margin-right: 30%;
}

/* features */
.awesome{
  color: #ef8172;
  font-size: 3.5rem;
  margin: 15px auto;
}

.good-app{
  font-size: 1.5rem;
}

.awesome:hover{
  color: #ff4c68;
}

.feats{
  text-align: center;
  margin: 50px auto;
}

#features{
  padding: 7% 15%;
  position: relative;
}

.description{
  color: #8f8f8f;
}

/* Testimonial */
#testimonials{
  text-align: center;
  background-color: #ef8172;
}

.carousel-item{
  padding: 7% 15%;
}
.pebbles{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
/* press */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.companies{
  width: 15%;
  margin: 20px 20px 50px;
}

.box-size{
  width: 40%;
}

/* Pricing */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

.pricing-title{
  font-size: 3rem;
  line-height: 1.5;
}

.monthly-cost{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-plan{
  font-size: 1.5rem;
}

/* Contact */
#cta{
  padding-top: 9%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
.bottom-text{
  font-size: 3.5rem;
}

#footer{
  text-align: center;
  margin: 4% auto 4% auto;
}
.sm-icon{
  margin: 7px;
}
